body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Define as linhas do grid */
    min-height: 100vh;
    background-color: #00ff00; /* Cor verde para o corpo */
    color: #fff; /* Letras brancas */
}

header {
    background-color: #00008b; /* Azul escuro para o cabeçalho */
    text-align: center;
    padding: 20px 0;
}

.header-container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

p {
    margin-top: 10px;
    font-style: italic;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.work {
    width: 300px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s; /* Efeito de transição suave */
}

.work:hover {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.work img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
}

#description-container {
    text-align: center;
}

#work-description {
    background-color: #000; /* Preto para o fundo da descrição */
    color: #fff; /* Letras brancas */
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #000; /* Preto para o rodapé */
    text-align: center;
    padding: 10px 0;
}
